@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Dancing Script", cursive;
  background: rgb(221, 213, 195);
}

h1 {
  text-align: center;
  color: rgb(133, 78, 58);
  font-size: 2.5rem;
  margin-top: 3vh;
}

.search {
  text-align: center;
  margin: 30px;
}

input {
  height: 30px;
  border-radius: 5px;
  transition: 2s;
}

input:hover {
  border-radius: 10px;
}

.card-container {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
